@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.border{
    border: 1px solid red;
}

.center{
    text-align: center;
}

.font1{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}